#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.weddingBorder {
  width: 800px;
  max-width: 100%;
  margin-top: -30%;
  margin-bottom: -30%;
}

.titleContainer {
  container-type: size;
  resize: horizontal;
  width: 400px;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 28cqw;
  line-height: 1.1;
  font-family: 'Marvelous';
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
}

input {
  font-family: 'Pleasewritemeasong';
  width: 200px;
  font-size: 18pt;
  padding: 6px 8px;
  margin-top: 32px;
  background: none;
  border: none;
  color: var(--gold);
  border-bottom: 2px solid var(--gold);
  outline: none;
  transition-duration: 0.1s;
  text-align: center;
}

input:active,
input:focus {
  transition-duration: 0.1s;
  background-color: #9843;
}

.passcodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}