#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--highlight);
}

.weddingBorder {
  width: 800px;
  max-width: 100%;
  margin-top: -27%;
  margin-bottom: -30%;
  pointer-events: none;
}

.titleContainer {
  container-type: size;
  resize: horizontal;
  width: 400px;
  max-width: 64%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 28cqw;
  line-height: 1.1;
  font-family: 'Marvelous';
  margin: 0px;
}

h2 {
  margin: 12px 4px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 4px 16px;
  flex-wrap: wrap;
  margin: 0px 65px;
  margin-bottom: 16px;
}

input {
  font-family: 'Pleasewritemeasong';
  width: 200px;
  font-size: 18pt;
  padding: 6px 8px;
  margin-top: 32px;
  background: none;
  border: none;
  color: var(--highlight);
  border-bottom: 2px solid var(--gold);
  outline: none;
  transition-duration: 0.1s;
  text-align: center;
}

input:hover {
  border-color: var(--highlight);
}

input:active,
input:focus {
  transition-duration: 0.1s;
  background-color: #9843;
  border-color: var(--highlight);
}

.passcodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 8px 0;
}

a {
  color: #b96900;
}

b {
  -webkit-text-stroke: 0.7px var(--highlight);
}

@media (min-width: 700px) {
  .weddingBorder {
    margin-bottom: -52%;
  }

  .navbar {
    margin-bottom: 128px;
  }
}