@font-face {
  font-family: 'Marvelous';
  src: url('Marvelous.woff') format('woff'),
    url('Marvelous.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pleasewritemeasong';
  src: url('Pleasewritemeasong.woff') format('woff'),
    url('Pleasewritemeasong.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Pleasewritemeasong';
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;
  --gold: #985;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  font-family: 'Pleasewritemeasong';
  font-size: 24pt;
  border: 1px solid var(--gold);
  cursor: pointer;
  background: none;
  padding: 8px;
  color: var(--gold);
  transition: 0.1s;
  outline: none;
}

button:hover,
button:focus {
  color: white;
  border-color: white;
}

button:active {
  transition: 0s;
  position: relative;
  scale: 1.1;
}