@font-face {
  font-family: 'Marvelous';
  src: url('Marvelous-wKUQDZ2s.woff') format('woff'),
    url('Marvelous-C6O0qG9h.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pleasewritemeasong';
  src: url('Pleasewritemeasong-DyIM2PSP.woff') format('woff'),
    url('Pleasewritemeasong-IvxD2Inp.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Pleasewritemeasong';

  background-color: #d5d1c3;
  --gold: #985;
  --highlight: #530;

  font-size: 16pt;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  position: relative;
  font-family: 'Pleasewritemeasong';
  font-size: 24pt;
  border: 1px solid var(--gold);
  border-radius: 4px;
  cursor: pointer;
  background: none;
  padding: 8px;
  color: var(--gold);
  transition: 0.1s;
  outline: none;
}

button:hover,
button:focus {
  color: var(--highlight);
  border-color: var(--highlight);
  scale: 1.05;
}

button:active {
  transition: 0s;
  scale: 0.9;
}

.checkboxRow {
  display: flex;
  align-items: center;
}

.checkmarkButton {
  margin: 4px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.checked {
  background-color: var(--highlight);
}